*{
    color:black;
    font-family:Arial,sans-serif;
}

body{
    background-color:gainsboro;
}

header{
    background-color:red;
}

article{
    position:relative;
    width:"90%";
}

.content{
    width:"40%";
    background-color:azure;
}