body{
    background-image: linear-gradient(
        to bottom,
        rgba(213, 213, 213, 0.351),
        rgba(77, 52, 33, 0.842)
      ), url(Images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: rgb(189,189,213);
    margin: 0;
    padding: 0;
    
    color: black;
    font-family: Arial,sans-serif;
}

h1{
    font-size: 1.5em;
}

h2{
    font-size: 1.2em;
}

a{
    font-weight: bold;
    color: black;
    text-decoration-line: none;
    transition: 0.3s;
}

a:hover{
    color: red;
    transition: 0s;
}

a:active{
    color: darkred;
}

.anchor-target {
    scroll-margin-top: 50px;
}

button{
    border-color: black;
    font-size: 1em;
}

header{
    height: 100%;
    width: 100%;
    background-color:rgb(0, 0, 0);
    background-image: url(Images/banner.png);
    background-position: center;
    background-size:contain;
    background-repeat: no-repeat;
    padding-top: 2%;
}

header a{
    color: white;
}

.title{
    color: red;
    text-align: center;
    padding: 2%;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.title h1{
    font-size: xx-large;
}

nav{
    background-color: rgb(62, 48, 24);
    position: sticky;
    top: 0;
    box-shadow: 0px 5px 5px rgb(24, 24, 24);
    text-align: center;
    z-index: 10;
}

nav a{
    background-color: rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 15%;
    margin: 2px 5px 2px 5px;
    display: inline-block;
    color: white;
    padding: 10px;
    transition: 0.3s;
}

nav a:hover{
    background-color: rgba(255, 255, 255, 0.6);
    color: black;
    transition: 0s;
}

nav a:active{
    background-color: rgba(255, 255, 255, 0.3);
    color: black;
}

footer{
    color: rgb(134, 134, 134);
    text-align: center;
    background-color: rgb(77, 52, 33);
    padding: 1%;
    box-shadow: 0px 5px 5px gray;
}

table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
}

th, td{
    padding: 10px;
}

.content{
    margin: auto;
    width: 80%;
    max-width: 1000px;
    max-height: 100%;

    padding: 5%;
    padding-top: 2%;
    overflow: hidden;
    background-color: rgb(238,238,247);
}

.block-image__center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    max-width: 75%;
    max-height: 400px;
    font-style: italic;
    font-size: 0.8em;
}

.inline-image__left{
    float: left;
    box-sizing: border-box;
    max-width: 50%;
    max-height: 400px;
    margin: 0px 20px 5px 0px;
}

.inline-image__right{
    float: right;
    box-sizing: border-box;
    margin-left: 20px;
    max-width: 50%;
    max-height: 400px;
    margin: 0px 0px 5px 20px;
}

figcaption{
    font-style: italic;
    font-size: 0.8em;
}

.credit{
    font-style: italic;
}

/* Credit to W3Schools for timeline tutorial: https://www.w3schools.com/howto/howto_css_timeline.asp */
/* Approval for the use of this tutorial was given by a TA */
/* if we edited it to fit our website's style. */
/* rgb(151,94,36)    */
/* rgb(25,13,0) */
.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 10px;
}

.timeline * {
    box-sizing: border-box;
}

.timeline::after {
    content: '';
    position: absolute;
    width: 16px;
    background-color: rgb(25,13,0);
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -8px;
}

.timeline .timeline__year {
    position: relative;
    transform: translateX(-50%);
    width: 100px;
    left:50%;
}

.timeline .timeline__year::before {
    content: " ";
    position: absolute;
    z-index: 1;
    left: 0px;
    border: medium solid rgb(25,13,0);
    border-width: 10px 10px 10px 0;
    border-color: transparent rgb(25,13,0) transparent transparent;
}

.timeline .timeline__year::after {
    content: " ";
    height: 0;
    position: absolute;
    width: 0;
    z-index: 1;
    right: 0px;
    border: medium solid rgb(25,13,0);
    border-width: 10px 0 10px 40px;
    border-color: transparent transparent transparent white;
}

.timeline .timeline__yearContent {
    background-color: rgb(99,53,19);
    text-align: center;
}

.timeline .container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

/* Place the container to the left */
.timeline .left {
    left:0;
}

/* Place the container to the right */
.timeline .right {
    left: 50%;
}

/* Add arrows to the left container  */
.timeline .left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 45%;
    width: 0;
    z-index: 1;
    right: 0px;
    border: medium solid rgb(25,13,0);
    border-width: 10px 0 10px 40px;
}

/* Add arrows to the right container*/
.timeline .right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 45%;
    width: 0;
    z-index: 1;
    left: 0px;
    border: medium solid rgb(25,13,0);
    border-width: 10px 40px 10px 0;
}

/* The actual content */
.timeline .timeline__content {
    padding: 10px 20px;
    background-color: rgb(25,13,0);
    color: white; /* rgb(151,94,36); */
    position: relative;
    border: inset rgb(151,94,36);
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
    /* Place the timelime to the left */
    .timeline::after {
        left: 31px;
    }
    
    /* Full-width containers */
    .timeline .container {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }
    
    /* Make sure that all arrows are pointing leftwards */
    .timeline .container::before {
        left: 30px;
        border: medium solid rgb(25,13,0);
        border-width: 10px 40px 10px 0;
    }
    
    /* Make all right containers behave like the left ones */
    .timeline .right {
        left: 0%;
    }
}

.trivia{
    max-width: 100%;
    margin-bottom: 10px;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.1);
    text-align: center;
    
    overflow:hidden;
}

.trivia p, .trivia button{
    margin: auto;
    padding: 10px;
    width: 50%;
    height: 100%;
    box-sizing: border-box;
}

.trivia__question{
    float: left;
    background-color: gray;
}

.trivia__answer{    
    float: right;    
    background-color: darkgray;
    color: red;
    display: none;  
}

.trivia__question:active + .trivia__answer{
    display: block;
}

/* Extra small devices, such as phones */
@media only screen and (max-width:600px){
    header{    
        display: none;
    }
    nav{
        max-height: 10%;
    }
    nav a{
        border-radius: 15%;
        margin: 0 1% 0;
        display: inline-block;
        padding: 2%;
        font-size: 90%;
    }
    .content {    
        width: 100%;
        padding: 10px;
    }
    .content h1{
        font-family: arial;
        font-size: 40px;
        line-height: 36px;
    }
    .content p{
        font-family: arial;
        font-size: 16px;
        line-height: 24px;
    }
    .inline-image__left{
        margin: 0px;
        float:none;
        display: block;
        margin-left: auto;
        margin-right: auto;
        box-sizing: border-box;
        width: 300px;
        max-width: 90%;
    }
    .inline-image__right{
        margin: 0px;
        float:none;
        display: block;
        margin-left: auto;
        margin-right: auto;
        box-sizing: border-box;
        width: 300px;
        max-width: 90%;
    }
}

/* Extra large devices, such as large laptops/desktops */
@media only screen and (min-width:1200px){
    
}

/* devices in landscape orientation */
@media only screen and (orientation: landscape)
{

}  


/*      ---  SEPARATION  ---        */
