body{
    background-color:rgb(189,189,213);
    margin:0;
    padding:0;
    
    color:black;
    font-family:Arial,sans-serif;
}

header{
    color:gray;
    text-align:center;
    background-color:rgb(46, 40, 79);
    padding:20px;
    box-shadow: 0px 5px 5px gray;
}

a {
    font-weight:bold;
    color:black;
    text-decoration-line:none;
    transition:1s;
}

a:hover{
    color:red;
    transition:0s;
}

nav a{
    margin:2px;
    background-color: gray;
    padding:5px;
    transition:0.3s;
}

nav a:hover{
    padding:20px;
    transition:0.3s;
}

header a {
    color: white;
}

.biography img{
    float:left;
    object-fit: contain;
    max-width:200px;
    margin-right:20px;
}
.biography{
    padding: 20px;
    margin:10px;
    border:1px solid black;
    overflow:hidden;
}

table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
}

th, td{
    padding: 10px;
}

.content{
    margin:auto;
    max-width:800px;
    max-height:100%;

    padding:20px;
    background-color:rgb(238,238,247);
}

.content figcaption {
    font-style: italic;
    font-size:0.8em;
}
